<!-- Notifications area 
<section class="full-width container-notifications">
	<div class="full-width container-notifications-bg btn-Notification"></div>
	<section class="NotificationArea">
		<div class="full-width text-center NotificationArea-title tittles">Notifications <i
				class="zmdi zmdi-close btn-Notification"></i></div>
		<a href="#" class="Notification" id="notifation-unread-1">
			<div class="Notification-icon"><i class="zmdi zmdi-accounts-alt bg-info"></i></div>
			<div class="Notification-text">
				<p>
					<i class="zmdi zmdi-circle"></i>
					<strong>New User Registration</strong>
					<br>
					<small>Just Now</small>
				</p>
			</div>
			<div class="mdl-tooltip mdl-tooltip--left" for="notifation-unread-1">Notification as UnRead</div>
		</a>
		<a href="#" class="Notification" id="notifation-read-1">
			<div class="Notification-icon"><i class="zmdi zmdi-cloud-download bg-primary"></i></div>
			<div class="Notification-text">
				<p>
					<i class="zmdi zmdi-circle-o"></i>
					<strong>New Updates</strong>
					<br>
					<small>30 Mins Ago</small>
				</p>
			</div>
			<div class="mdl-tooltip mdl-tooltip--left" for="notifation-read-1">Notification as Read</div>
		</a>
		<a href="#" class="Notification" id="notifation-unread-2">
			<div class="Notification-icon"><i class="zmdi zmdi-upload bg-success"></i></div>
			<div class="Notification-text">
				<p>
					<i class="zmdi zmdi-circle"></i>
					<strong>Archive uploaded</strong>
					<br>
					<small>31 Mins Ago</small>
				</p>
			</div>
			<div class="mdl-tooltip mdl-tooltip--left" for="notifation-unread-2">Notification as UnRead</div>
		</a>
		<a href="#" class="Notification" id="notifation-read-2">
			<div class="Notification-icon"><i class="zmdi zmdi-mail-send bg-danger"></i></div>
			<div class="Notification-text">
				<p>
					<i class="zmdi zmdi-circle-o"></i>
					<strong>New Mail</strong>
					<br>
					<small>37 Mins Ago</small>
				</p>
			</div>
			<div class="mdl-tooltip mdl-tooltip--left" for="notifation-read-2">Notification as Read</div>
		</a>
		<a href="#" class="Notification" id="notifation-read-3">
			<div class="Notification-icon"><i class="zmdi zmdi-folder bg-primary"></i></div>
			<div class="Notification-text">
				<p>
					<i class="zmdi zmdi-circle-o"></i>
					<strong>Folder delete</strong>
					<br>
					<small>1 hours Ago</small>
				</p>
			</div>
			<div class="mdl-tooltip mdl-tooltip--left" for="notifation-read-3">Notification as Read</div>
		</a>
	</section>
</section> -->
<!-- navLateral -->
<section class="full-width navLateral">
	<div class="full-width navLateral-bg btn-menu"></div>
	<div class="full-width navLateral-body">
		<div class="full-width navLateral-body-logo text-center tittles">
			<i class="zmdi zmdi-close btn-menu"></i> Mascotas
		</div>
		<figure class="full-width navLateral-body-tittle-menu">
			<div>
				<img src="/assets/img/avatar-male.png" alt="Avatar" class="img-responsive">
			</div>
			<figcaption>
				<span>
					{{name}}<br>
					<small>Administrador</small>
				</span>
			</figcaption>
		</figure>
			<nav class="full-width">
				<ul class="full-width list-unstyle menu-principal">
					<li class="full-width">
						<a href="/admin" class="full-width">
							<div class="navLateral-body-cl">
								🐕
							</div>
							<div class="navLateral-body-cr">
								INICIO
							</div>
						</a>
					</li>
				<li class="full-width divider-menu-h"></li>
				<li class="full-width">
					<a href="#!" class="full-width btn-subMenu">
						<div class="navLateral-body-cl">
							<i class="zmdi zmdi-case"></i>
						</div>
						<div class="navLateral-body-cr">
							ADMINISTRACION
						</div>
						<span class="zmdi zmdi-chevron-left"></span>
					</a>
					<ul class="full-width menu-principal sub-menu-options">
						<li class="full-width">
							<a href="/admin/servicesList" class="full-width">
								<div class="navLateral-body-cl">
									<i class="tile-admi"  > 
									<img src="/assets/servicios.ico" alt="Icono de servicios">
									</i>
								</div>
								<div class="navLateral-body-cr">
									SERVICIOS
								</div>
							</a>
						</li>
						<li class="full-width">
							<a href="/admin/pqrs" class="full-width">
								<div class="navLateral-body-cl">
									<i class="zmdi zmdi-truck"></i>
								</div>
								<div class="navLateral-body-cr">
									PQRS
								</div>
							</a>
						</li>
						<li class="full-width">
							<a href="/admin/audit" class="full-width">
								<div class="navLateral-body-cl">
									<i class="tile-admi">
										<img src="/assets/auditoria.ico" alt="Icono de auditoría" >
										</i>
								</div>
								<div class="navLateral-body-cr">
									AUDITORIA
								</div>
							</a>
						</li>
					</ul>
				</li>
				<li class="full-width divider-menu-h"></li>
				<li class="full-width">
					<a href="#!" class="full-width btn-subMenu">
						<div class="navLateral-body-cl">
							<i class="zmdi zmdi-assignment"></i>
						</div>
						<div class="navLateral-body-cr">
							REGISTRO
						</div>
						<span class="zmdi zmdi-chevron-left"></span>
					</a>
					<ul class="full-width menu-principal sub-menu-options">
						<li class="full-width">
							<a href="/admin/createVet" class="full-width">
								<div class="navLateral-body-cl">
									<i class="zmdi zmdi-account"></i>
								</div>
								<div class="navLateral-body-cr">
									VETERINARIO
								</div>
							</a>
						</li>
						<li class="full-width">
							<a href="/admin/createUser" class="full-width">
								<div class="navLateral-body-cl">
									<i class="zmdi zmdi-accounts"></i>
								</div>
								<div class="navLateral-body-cr">
									CLIENTE
								</div>
							</a>
						</li>
						<li class="full-width">
							<a href="/admin/createPet" class="full-width">
								<div class="navLateral-body-cl">
									<i class="zmdi zmdi-accounts"></i>
								</div>
								<div class="navLateral-body-cr">
									MASCOTA
								</div>
							</a>
						</li>
					</ul>
				</li>
				<li class="full-width divider-menu-h"></li>
				<li class="full-width">
					<a href="/admin/vetList" class="full-width">
						<div class="navLateral-body-cl">
							<i class="zmdi zmdi-account"></i>
						</div>
						<div class="navLateral-body-cr">
							VETERINARIOS
						</div>
					</a>
				</li>
				<li class="full-width divider-menu-h"></li>
				<li class="full-width">
					<a href="/admin/userList" class="full-width">
						<div class="navLateral-body-cl">
							<i class="zmdi zmdi-accounts"></i>
						</div>
						<div class="navLateral-body-cr">
							CLIENTES
						</div>
					</a>
				</li>
				<li class="full-width">
					<a href="/admin/petList" class="full-width">
						<div class="navLateral-body-cl">
							🐾
						</div>
						<div class="navLateral-body-cr">
							MASCOTAS
						</div>
					</a>
				</li>

				<li class="full-width divider-menu-h"></li>	
			</ul>
		</nav>
	</div>
</section>
<!-- pageContent -->
<section class="full-width pageContent">
	<!-- navBar -->
	<div class="full-width navBar">
		<div class="full-width navBar-options">
			<i class="zmdi zmdi-swap btn-menu" id="btn-menu"></i>
			<div class="mdl-tooltip" for="btn-menu">Ocultar / Mostrar Menú</div>
			<nav class="navBar-options-list">
				<ul class="list-unstyle">
				
					<li class="btn-exit" id="btn-exit">
						<i class="zmdi zmdi-power"></i>
						<div class="mdl-tooltip" for="btn-exit">Cerrar Sesión</div>
					</li>
					<li class="text-condensedLight noLink"><small>{{name}}</small></li>
					<li class="noLink">
						<figure>
							<img src="/assets/img/avatar-male.png" alt="Avatar" class="img-responsive">
						</figure>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	<section class="full-width header-well">
		<div class="full-width header-well-icon">
			<i class="tile-list"  > 
				<img src="/assets/huella.ico" alt="Icono de huella">
				 </i>
		</div>
		
		<section class="full-width text-center" style="padding: 40px 0;">
				<h3 class="text-condensedLight">Lista de todas las mascotas en Animal's Garden</h3>
					
			</section>
	</section>
	<div class="full-width divider-menu-h"></div>
	<div class="mdl-grid">




		<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">

			<div class="Buscador" action="/admin/vetList" method="get">
    	<p>
         
         <input type="text" id="dniInput" onkeyup="buscarDNI()" name="Documento" pattern="[0-9]+" title="Solo se permiten datos numéricos" required placeholder="Buscar N° Documento" inputmode="numeric">


    	</p>
		</div>
			<div class="table-responsive">
				<table id="dniTable" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width table-responsive">
					<thead>
						<tr>
							<th class="mdl-data-table__cell--non-numeric">Nombre</th>
							<th>Especie</th>
							<th>Raza</th>
							<th>Edad</th>
							<th>Propietario</th>
							<th>Opciones</th>
						</tr>
					</thead>
					<tbody>
						{{#each pets}}
							<tr>
								<td class="mdl-data-table__cell--non-numeric">{{nombre}}</td>
								<td>{{especie}}</td>
								<td>{{raza}}</td>
								<td>{{edad}}</td>
								<td>{{propietario}}</td>
								<td>
									<a href="/admin/petList/petProfile/{{id_mascota}}">
										<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
												<path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
												<path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
											</svg>
										</button>
									</a>
									<a href="/admin/petList/historyList/{{id_mascota}}">
										<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-medical" viewBox="0 0 16 16">
												<path d="M7.5 5.5a.5.5 0 0 0-1 0v.634l-.549-.317a.5.5 0 1 0-.5.866L6 7l-.549.317a.5.5 0 1 0 .5.866l.549-.317V8.5a.5.5 0 1 0 1 0v-.634l.549.317a.5.5 0 1 0 .5-.866L8 7l.549-.317a.5.5 0 1 0-.5-.866l-.549.317zm-2 4.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1zm0 2a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1z"/>
												<path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
											</svg>
										</button>
									</a>
									<a href="/admin/petList/updatePet/{{id_mascota}}">
										<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
												<path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"/>
											</svg>
										</button>
									</a>
									<a href="/admin/petList/deletePet/{{id_mascota}}">
										<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eraser" viewBox="0 0 16 16">
												<path d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828zm2.121.707a1 1 0 0 0-1.414 0L4.16 7.547l5.293 5.293 4.633-4.633a1 1 0 0 0 0-1.414zM8.746 13.547 3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293z"/>
											</svg>
										</button>
									</a>
								</td>
							</tr>
						{{else}}
							<tr>
								<td colspan="5">
									<div class="col-md-4 mx-auto">
										<div class="card card-body text-center">
											<p>No hay mascotas registradas aun.</p>
											<a href="./createPet">Registrar mascota</a>
										</div>
									</div>
								</td>
							</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
			<a class="hero__reg" href="/admin/createPet">
			Registrar
			</a>
		</div>
	</div>
</section>